* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}



.App {
  width: 100vw;
  height:100vh;
  display:block;
}
.formBox {
  margin: 3rem;
  display: flex;
  justify-content: center;
}
.name{
  margin-right: 5.4rem;
}
.categoryLabel{
  margin-right: 1rem;
  margin-left: 1rem;
}
.formLabel {
  margin-right: 3rem;
}
.sortBox{
  display:flex;
  justify-content: center;
  margin:3rem;
}

.tableBox {
  width: 80%;
  margin: 0 auto;
  
}
.tableBodyBox {
  width: 80%;
  margin: 0 auto;
}

.tableRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 8px;
  width: 25%;
  text-align: center;
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
  flex: 1;
}
.tableItem{
  display: flex;
  justify-content: center;
  width: 100%;
}
.formButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
button{
  margin-left: 1rem;
}
.formInput{
  width: 10rem
}

